@import 'ui';

body,
html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: auto;
  display: flex;
  width: 100%;
}

#root {
  display: flex;
  width: 100%;
  //height: 100%;
  min-height: 100vh;
  min-height: max-content;
}

//webkit only
//body:not(*:root) {
//  height: auto;
//
//  #root {
//    height: inherit;
//  }
//}

.app {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  position: relative;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: $text-dark;
  font-family: $font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

@mixin selectableCover {
  .cover {
    transition: opacity 0.3s;
  }
  &:hover {
    .cover {
      opacity: 0.95;
    }
  }
}

.font-size-lg {
  font-size: 1.2rem;
}

.font-size-sm {
  font-size: 0.875rem;
}

.font-size-xs {
  font-size: 0.75rem;
}

.font-grey {
  color: $text-grey;
}

.font-light-grey {
  color: $text-light-grey;
}

.cover {
  position: relative;
  width: 100%;

  z-index: 0;
  .cover-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &.cover-img--placeholder {
      background: $border-grey;
    }
  }

  &.poster-cover,
  &.video-cover {
    @include overflow-hidden;
    border-radius: calc(0.08 * 56.25%) / 8%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

  &.square-cover,
  &.round-cover {
    padding-top: 100%;
  }

  &.round-cover {
    border-radius: 50em;
    @include overflow-hidden;
  }

  &.video-cover {
    &::before {
      font-family: $font-awesome;
      content: '\f144';
      position: absolute;
      z-index: 1;
      font-size: 38px;
      color: white;
      font-weight: 900;
      @include center(xy);
    }
    &.video-locked {
      opacity: 0.4;
      &::before {
        content: '\f023';
        font-size: 36px;
      }
    }
    .video-cover__watch-progress-bar {
      position: absolute;
      bottom: 4px;
      right: 8px;
      left: 8px;
      height: 4px;
      border-radius: 50em;
      @include overflow-hidden;
      background: rgba(255, 255, 255, 0.4);
      .watch-progress-bar__progress-line {
        height: 100%;
        max-width: 100%;
        left: 0;
        background: $accent-orange;
      }
    }
  }

  &.webinar-cover {
    &::before {
      font-family: $font-awesome;
      position: absolute;
      z-index: 1;
      font-size: 38px;
      color: white;
      font-weight: 900;
      @include center(xy);
    }
    &.locked {
      opacity: 0.4;
      &:before {
        content: '\f023';
      }
    }
    &.unlocked {
      &:before {
        content: '\f09c';
      }
    }
  }
}

.ph-item {
  .cover-img--placeholder.ph-item:before {
    display: none;
  }
}

.video-player {
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background: black;
  position: relative;
  .video-player__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.overlay-window {
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(100, 111, 121, 0.15),
    0 5px 20px 0 rgba(21, 27, 38, 0.08);
}

.nav-btn {
  padding: 6px;
  @include btnBehavior;
  i {
    display: block;
  }
}

.dropdown {
  position: relative;

  .dropdown__menu-container {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    padding-top: 8px;
    display: none;

    .dropdown__menu {
      @include overflow-hidden;
      padding: 4px 0;

      .dropdown__menu-option {
        @include linkBehavior();
        display: block;
        //margin: 8px 0;
        padding: 4px 12px;
        cursor: pointer;
        opacity: 1;
        white-space: nowrap;
        transition: background-color 0.3s;
        &:hover {
          background: $bg-active;
        }
      }

      i {
        color: $icon-grey;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }

  .dropdown__icon-btn {
    display: block;
    padding: 4px;
    transition: background-color 0.3s;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    .dropdown__menu-container {
      display: block;
    }

    .dropdown__icon-btn {
      background: $bg-active;
    }
  }
}

header {
  @include media-breakpoint-down(md) {
    position: sticky;
    top: 0;
  }
  z-index: 3;
  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  border-bottom: $border;
  .header__container {
    & > .row {
      justify-content: space-between;
    }
  }
  .logo-container {
    @include media-breakpoint-up(lg) {
      width: 240px;
    }

    .logo {
      height: 24px;
      max-width: 100%;
    }
  }
  .user-nav {
    display: flex;
    align-items: center;

    .user-nav__user-name {
      cursor: default;
      margin-right: 18px;
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .nav-btn {
      width: calc(1em + 12px);
      height: calc(1em + 12px);
      position: relative;
      flex-shrink: 0;
      .cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%; //fixes IOS bug
      }
    }

    .ph-text {
      width: 200px;
    }
  }
}

.layout {
  flex-grow: 1;
  display: flex;
  background: $bg-grey;
  position: relative;

  .layout__loading-spinner {
    position: absolute;
    @include center(xy);
    font-size: 2rem;
    i {
      border-width: 0.05em;
    }
  }

  @include media-breakpoint-up(lg) {
    position: relative;
  }

  .layout__sidebar {
    min-width: 250px;
    position: fixed;
    visibility: hidden;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    will-change: background;
    transition: background 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0);

    @include media-breakpoint-up(lg) {
      position: static;
      visibility: visible;
      height: auto;
      flex: 0 0 auto;
      width: auto;
    }

    .layout__sidebar-bar {
      @include media-breakpoint-down(md) {
        width: auto;
        position: absolute;
        max-width: 80%;
      }
      max-width: 100%;
      height: 100%;
      background: white;
      border-right: $border;
      cursor: default;
      transform: translateX(-100%);
      transform-style: preserve-3d;

      will-change: transform;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-up(lg) {
      transform: translateX(-100%);
      will-change: transform;
      transition-property: transform;
      transform-style: preserve-3d;

      .layout__sidebar-bar {
        transition: none;
      }
    }
  }

  .layout__content {
    overflow-x: hidden;
    flex-grow: 1;
    position: relative;
    max-width: 100%;
    flex-basis: 100%;
    //overflow-y: hidden;
    //@include media-breakpoint-up(lg) {
    //  max-width: calc(100% - 240px);
    //  // fix for IE horizontal scroll bug
    //  flex-basis: calc(100% - 240px);
    //}
    background: $bg-grey;
    margin-left: 0;
    display: flex;
    flex-direction: column;

    //transition-duration: .2s;
    //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: margin-left cubic-bezier(0.4, 0, 0.2, 1) 0.2s,
      max-width cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  }

  &.sidebar-opened {
    .layout__sidebar {
      background: rgba(0, 0, 0, 0.4);
      z-index: 5;
      visibility: visible;
      .layout__sidebar-bar {
        transform: translateX(0);
      }
    }
    @include media-breakpoint-up(lg) {
      .layout__sidebar {
        background: rgba(0, 0, 0, 0);
        transform: translateX(0);
      }
      .layout__sidebar ~ .layout__content {
        //margin-left: 240px;
        //max-width: calc(100% - 240px);
        //// fix for IE horizontal scroll bug
        //flex-basis: calc(100% - 240px);
      }
    }
  }
  &.sidebar-hiding {
    .layout__sidebar {
      z-index: 5;
      visibility: visible;
    }
  }

  @include media-breakpoint-up(lg) {
    .layout__sidebar {
      transform: translateX(0);
      .layout__sidebar-bar {
        transform: translateX(0);
      }
    }
    .layout__sidebar ~ .layout__content {
      //margin-left: 240px;
      //max-width: calc(100% - 240px);
      //// fix for IE horizontal scroll bug
      //flex-basis: calc(100% - 240px);
    }
  }

  .layout__sidebar-bar {
    .sidebar__nav-btn-container {
      padding-top: 16px;
    }
    .layout__sidebar-content {
      $sidebar-content-padding: 32px 24px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .layout__sidebar-menu {
        padding: $sidebar-content-padding;
        @include media-breakpoint-up(lg) {
          position: sticky;
          top: 0;
        }

        .layout__sidebar-menu-section {
          border-bottom: $border;
          padding: 4px 0;
          &:first-child {
            padding-top: 0;
            .layout__sidebar-menu-link {
              padding-top: 0;
            }
          }
          &:last-child {
            border-bottom: none;
          }
        }
        .layout__sidebar-menu-link {
          display: block;
          padding: 12px 0;
          position: relative;
          transition: padding-left 0.3s;
          &:not(.disabled) {
            &::before {
              font-family: $icon-font;
              content: '\e901';
              vertical-align: middle;
              display: inline-block;
              position: absolute;
              left: 0;
              transform: rotate(-90deg) scale(0);
              transition: transform 0.3s;
            }
            &.active,
            &:hover {
              padding-left: 20px;
              color: black;
              &::before {
                transform: rotate(-90deg) scale(1);
              }
            }
          }
          .ph-text {
            min-width: 180px;
          }
          .badge-soon {
            opacity: 0.7;
            transition: opacity 0.3s;
            &:before {
              content: ' ';
            }
          }
          &:hover .badge-soon {
            opacity: 1;
          }
        }

        .layout__sidebar-menu-link ~ .layout__sidebar-menu-link {
          padding-top: 0;
        }
      }

      .layout__sidebar-footer {
        padding: $sidebar-content-padding;
        margin-top: auto;
      }
      .social-media {
        padding-top: 8px;
      }
    }
  }

  .layout__content-container {
    flex-grow: 1;
    padding: 32px 0;
    @include media-breakpoint-up(md) {
      padding: 32px 24px;
    }
  }

  .layout__content-block {
    background: white;
    padding: $content-padding;

    &.layout__content-block--stacked {
      margin-top: 0;
      border-top: 1px solid $border-grey;
    }
    .negate-block-padding,
    .list {
      width: auto;
      margin-left: -$content-padding-sides;
      margin-right: -$content-padding-sides;
    }
    &.layout__content-block--transparent {
      background: none;
    }
  }
  .layout__content-block
    ~ .layout__content-block:not(.layout__content-block--stacked) {
    margin-top: 24px;
  }

  .layout__content-parent-section-link {
    //font-family: $font-medium;
    color: $text-grey;
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
    white-space: nowrap;
    @include overflow-hidden;
    text-overflow: ellipsis;
  }

  .layout__bottom-tab {
    width: 100%;
    background: white;
    border-top: $border;
    .layout__bottom-tab-container {
      padding: $content-padding;
      height: 100%;
      @include media-breakpoint-up(md) {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }

  .preview-container {
    padding-right: 0;
    .cover {
      //height: 130px;
      width: 240px;
    }
    &.miniature .cover {
      width: 100px;

      &:before {
        font-size: 22px;
      }
    }

    &:not(.miniature) {
      @include media-breakpoint-down(sm) {
        padding-right: 15px;
        margin-bottom: 8px;
      }
      .cover {
        @include media-breakpoint-down(sm) {
          border-radius: 10px;
          width: 100%;
        }
      }
    }

    .poster-cover-container {
      position: relative;
      z-index: 0;
      .poster-cover__online-badge {
        position: absolute;
        right: 8px;
        top: 8px;
        z-index: 1;
        padding: 2px 8px;
        background: $bg-grey;
        border-radius: 4px;
        color: #888888;
        &:before {
          content: '●';
          color: $accent-orange;
          margin-right: 4px;
        }
        //&:not(.course__online-text ) {
        //  span {
        //    display: none;
        //  }
        //  &::before {
        //    margin-right: 0;
        //  }
        //}
      }
    }

    &.miniature {
      .poster-cover-container {
        .poster-cover__online-badge {
          right: 4px;
          top: 4px;
          padding: 0 4px;
          line-height: 14px;

          span {
            display: none;
          }
          &::before {
            margin-right: 0;
          }
        }
      }
    }
  }

  .list {
    .list__item {
      display: block;
      background: white;
      padding: $content-padding;
      cursor: default;
      transition: background-color 0.3s;
      &:hover {
        background-color: $bg-hover;
      }
      &.list__item-selectable {
        cursor: pointer;
        @include selectableCover;
      }
      @mixin absolutePos {
        height: 100%;
        max-height: 100%;
        width: 100%;
        position: absolute;
        padding: inherit;
        left: 0;

        .title {
          white-space: nowrap;
        }
      }
      .list__item-description-inner {
        @include media-breakpoint-up(md) {
          @include absolutePos;
        }
        display: flex;
        flex-direction: column;
        .title {
          @include overflow-hidden;
          text-overflow: ellipsis;
        }
        .description-container {
          display: flex;
          flex: 1;
          min-height: 0;
          color: $text-grey;
          .description-block {
            flex: 1;
            overflow: visible;
            font-size: 12px;
          }
        }
      }
      &:not(.list__item-plain) {
        .title {
          font-family: $font-medium;
          font-size: 1.2rem;
        }
      }
      &.list__item-plain {
        .list__item-description-inner {
          @include absolutePos;
        }
        .description-block {
          padding-top: 0;
        }
      }
      .list__item-action {
        .list__item-action-info {
          text-align: center;
          $btn-line-height-lg: 2;
          line-height: $btn-line-height-lg;
          @include media-breakpoint-up(md) {
            margin-top: -#{$btn-line-height-lg}em;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      .list__item ~ .list__item:not(.list__item-plain) {
        margin-top: 16px;
      }
    }
  }

  .course {
    &.course-selected {
      background: $accent-bg;
      &:hover {
        background: lighten($accent-orange, 26%);
      }
    }
    .price,
    .discount {
      vertical-align: middle;
    }
    .discount {
      line-height: 100%;
    }
  }

  .teacher-profile {
    background: white;
    padding: 12px $content-padding-sides;
    @include selectableCover;

    .teacher-profile__photo {
      width: 80px;
    }

    .teacher-profile__name {
      white-space: nowrap;
      @include overflow-hidden;
      text-overflow: ellipsis;
    }
    .teacher-profile__subjects {
      margin-top: 4px;
      margin-bottom: 8px;
    }
  }

  .catalog {
    flex-grow: 1;
    .catalog__catalog {
      padding-top: 0;
      padding-bottom: 0;
      background: none;
    }
    .catalog__empty-catalog-fallback-message {
      text-align: center;
    }
    .catalog__filters {
      .catalog__filter-container ~ .catalog__filter-container {
        padding-left: 0;
      }
      .select {
        width: 200px;
      }
      .input-checkbox {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .search-input {
        position: relative;
        input {
          padding-right: 42px;
        }
        &:before {
          font-family: $icon-font;
          content: '\e900';
          display: block;
          position: absolute;
          right: 18px;
          @include center(y);
          transition: opacity 0.3s;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }

  .course-overview {
    .course-overview__summary {
      //margin: 16px 0;
      .course-overview__summary-item {
        margin: 4px 0;
        i {
          //vertical-align: middle;
          margin-right: 12px;
        }
      }
    }
    .course-overview__cover {
      height: 300px;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        //background: #f7c66c;
        background: lighten($accent-orange, 20%);
        z-index: 1;
        opacity: 0.8;
      }
    }
    .course-overview__teachers {
      padding-top: calc(#{$content-padding-top} - 8px);
    }
  }

  .course-overview__offer {
    transition: background-color 0.3s;
    &.course-overview__offer--selected {
      background: $accent-bg;
    }
  }

  .discount {
    text-decoration: line-through;
    text-decoration-color: $accent-orange;
  }

  .selected-courses {
    .selected-courses__courses {
      @include overflow-hidden;
      border-right: $border;
      .selected-course {
        cursor: default;
        .selected-course__cover-container {
          position: relative;
        }
        .selected-course__deselect-btn {
          font-size: $font-size-sm;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: calc(-2px / 2 - #{$font-size-sm}/ 2);
          margin-right: calc(-2px / 2 - #{$font-size-sm}/ 2);
          padding: 2px;
          background: $text-light-grey;
          border-radius: 50%;
        }
        .selected-course__description-container {
          width: 120px;
          padding: 0 $content-padding-sides;
        }
      }
    }
    @include media-breakpoint-up(md) {
      .selected-courses__price-container {
        max-width: 40%;
      }
    }
    .selected-courses__price {
      padding-left: inherit;
      padding-right: 0;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        padding-right: inherit;
        text-align: right;
      }
      .discount {
        vertical-align: middle;
        margin-right: 8px;
        @include media-breakpoint-down(sm) {
          padding: 0;
        }
      }
      .price {
        vertical-align: middle;
        font-family: $font-medium;
      }
      .promotion {
        color: $accent-orange;
      }
    }
  }

  .lesson-page {
    .layout__content-container > .layout__content-block {
      @include media-breakpoint-down(md) {
        background: none;
        padding: 0;
      }
    }
    .lesson-page__other-lessons,
    .lesson-page__current-lesson {
      &.layout__content-block {
        @include media-breakpoint-up(lg) {
          padding: 0 15px;
        }
      }
    }
    .block-container {
      margin: 8px 0;
      &:not(:first-child) {
        margin-top: 32px;
      }
    }
    .hw-container {
      .badge {
        font-size: 20px;
      }
      .submission, .hw-result, .hw-result__comment {
        margin-top: 16px;
      }
    }
    .lesson-page__other-lessons {
      .list__item {
        @include media-breakpoint-up(md) {
          & > .row {
            flex-wrap: nowrap;
          }
        }
        .preview-container {
          flex: 0 0 auto;
          width: auto;
          max-width: 100%;
          padding-right: 0;

          .video-class__cover {
            width: 150px;
            margin-bottom: 0;
          }
        }
        .list__item-description {
          width: 180px;
          flex-basis: 180px;
        }
      }
    }
  }

  .assignment {
    cursor: default;
    .assignment__deadline {
      padding-top: 4px;
    }
  }

  .teachers-catalog {
    .teacher-profile {
      width: 100%;
    }
    .list__item {
      background: none;
      padding: 0 15px;
      margin-top: 0 !important;
      margin-bottom: 16px;
    }
    //.teacher-profile {
    //  .teacher-profile__info-container {
    //    position: relative;
    //    .teacher-profile__info {
    //      position: absolute;
    //      top: 0;
    //      left: 0;
    //      right: 0;
    //      width: 100%;
    //      padding
    //    }
    //  }
    //}
  }

  .user-profile__info {
    .ph-text {
      width: 200px;
    }
  }

  .user-profile__avatar-container {
    position: relative;

    .user-profile__avatar-wrap {
      width: 20%;
      max-width: 150px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      .user-profile__avatar {
        background: white;
        //margin-bottom: -50%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: white;
    }
  }

  .teacher-page {
    .social-media {
      margin-top: 16px;
    }
    .description-block {
      padding-bottom: 16px;
    }
  }

  .webinar-schedule {
    .webinar-schedule__webinar {
      cursor: pointer;
      background: black;
      min-height: 50px;
      flex-basis: 70vw;
      flex-shrink: 0;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.95;
      }
      //border: $border-grey solid 1px;
      @include media-breakpoint-up(sm) {
        flex-basis: 350px;
      }
      @include media-breakpoint-up(md) {
        flex-basis: 400px;
      }
      .webinar-schedule__webinar-status,
      .webinar-schedule__webinar-countdown {
        position: relative;
        & > * {
          z-index: 0;
        }
        &:before {
          content: '';
          display: block;
          background: white;
          min-width: 50px;
          width: 100%;
          height: 200%;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          z-index: 0;
          border-radius: 50px;
        }
      }
      .webinar-schedule__webinar-countdown {
        color: white;
        font-size: 14px;
        &:before {
          background: $accent-orange;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          left: 0;
        }
      }
      &:not(.webinar-schedule__webinar-locked)
        .webinar-schedule__webinar-countdown:before {
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      }
      .webinar-schedule__webinar-poster {
        width: 100px;
      }
      .webinar-schedule__webinar-status {
        color: white;
        &:before {
          background: $success-bg;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          right: 0;
        }
      }
      &.webinar-schedule__webinar-locked {
        cursor: default;
        .webinar-schedule__webinar-status {
          color: $icon-grey;
          &:before {
            background: $bg-grey;
          }
        }
      }
      & ~ .webinar-schedule__webinar {
        margin-left: 16px;
      }
      .webinar-schedule__webinar-title {
        color: white;
        font-size: 12px;
        font-family: $font-light;
        max-width: 160px;
        & > div {
          white-space: nowrap;
          text-overflow: ellipsis;
          @include overflow-hidden;
        }
      }
    }
  }

  .users-list {
    .user {
      .preview-container .cover {
        width: 50px;
      }
      .list__item-description-inner {
        justify-content: center;
      }
    }
  }

  .tab-nav {
    .scroll-btn-container__inner-container {
      display: flex;
    }
    .tab-nav__nav-link {
      padding: 8px 4px;
      color: $text-grey;
      font-size: 14px;
      white-space: nowrap;
      //transition: outline-color .3s, color .3s;

      &.active {
        box-shadow: inset 0 -2px #{$accent-orange};
        .badge {
          background: $accent-orange;
        }
      }

      &:hover:not(.active):not(.disabled) {
        color: $text-dark !important;
        box-shadow: inset 0 -2px #{$border-grey};
      }
      & ~ .tab-nav__nav-link {
        margin-left: 16px;
      }
    }
  }

  .tab-nav-container {
    padding-bottom: 0;
    &.layout__content-block {
      .tab-nav {
        margin: 0 -22px;
        .scroll-btn-container__inner-container {
          padding: 0 22px;
        }
      }
    }
  }

  .title-with-menu {
    display: flex;

    .title-with-menu__action {
      order: 1;
      align-self: flex-start;
      min-height: 36px;
      display: flex;
      align-items: center;
      padding-left: 8px;
    }

    .title-with-menu__title {
      flex-grow: 1;
    }
  }

  .admin-page--courses {
    .catalog__filters {
      .search-input-container {
        margin-left: auto;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  .admin-page {
    .cover {
      opacity: 1;
    }
  }

  .teaching-page {
    &.admin-page--lessons {
      .video-class--disabled {
        .cover {
          opacity: 0.4;
        }
      }
    }
  }
  .teaching-page--homeworks {
    .homework {
      .homework-form {
        margin-top: 16px;
      }

      &.homework--assessing {
        .description-container {
          display: none;
        }
      }
    }
  }

  .test-page {
    .test__test-title {
      margin-bottom: 20px;
    }

    .test-task__badge  {
      margin-right: 12px;

      &.test-task__correct-badge {
        background: $success-green;
      }

      &.test-task__incorrect-badge {
        background: $error-red;
      }
    }
  }

  .test-task-page {
    .test-task__task-title {

    }
    .test-task__task-tooltip {
      margin-left: 20px;
    }
    .test-task__task-tooltip-content {
      line-height: 18px;
    }
    .test-task__image-container {
      display: flex;
      margin: 24px 0;

      .test-task__image {
        display: block;
        margin: 0 auto;
        flex-basis: auto;
        max-height: 470px;
        max-width: 100%;
      }
    }
    .test-task__task-text {
      margin-top: 24px;
    }
    .test-task__task-answer {
      margin-top: 16px;
    }
    .test-task__input {
      margin-top: 8px;

      .test-task__input-title {
        padding-bottom: 16px;
      }
    }
    .test-task__result {
      .test-task__badge {
        font-size: 16px;
      }

      .test-task__result-correct-answer {
        margin-top: 16px;
      }

      .test-task__solution {
        margin-top: 32px;

        .video-player {
          margin-top: 10px;
          margin-bottom: 16px;
        }
      }
    }

    .test-task__nav {
      display: flex;
      flex-wrap: wrap;
      @include media-breakpoint-down(sm) {
        margin: 0 20px;
      }

      .btn {
        margin-top: 24px;
        display: flex;
        flex-shrink: 0;

        &.test-task__nav-prev {
          margin-right: auto;

          @include media-breakpoint-down(sm) {
            .btn__name:before {
              content: 'Назад';
            }
          }
        }

        &.test-task__nav-next {
          margin-left: auto;

          @include media-breakpoint-down(sm) {
            .btn__name:before {
              content: 'Далее';
            }
          }
        }
      }
    }
  }

  .test-results-page {
    .test-result {
      margin-left: 12px;
      color: white;
      padding: 10px;
      border-radius: 8px;

      &.test-result__high {
        background: $green;
      }

      &.test-result__average {
        background: $orange;
      }

      &.test-result__low {
        background: $red;
      }
    }

    .test-passage {
      margin: 20px 0;
    }

    .test-results {
      margin-top: 20px;

      .list__item:nth-child(even) {
        background-color: $bg-grey;
      }
    }
  }

  .test-view {
    .test-view__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    [class^=col] {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .progress-indicator.test-result {
      &.test-result--passed .progress-circle .progress-circle__progress {
        stroke: $green;
      }

      &.test-result--failed .progress-circle .progress-circle__progress {
        stroke: $red;
      }
    }
  }
}

.expandable-container {
  .expandable-container__toggle {
    i {
      display: inline-block;
      transition: transform 0.3s;
    }
  }

  .expandable-container__body {
    max-height: 0;
    transition: max-height .3s;
    overflow: hidden;

    .expandable-container__body-inner {
      margin-top: 16px;
      padding: 16px 24px;
      background: $bg-grey;
      border-radius: 12px;
      border: 1px solid $border-grey;
    }
  }

  &.expandable-container--expanded {
    .expandable-container__body {
      max-height: 10000px;
    }
    .expandable-container__toggle i {
      transform: rotate(180deg);
    }
  }
}

.image-viewer__image-wrapper {
  position: relative;

  .image-viewer__image {
    display: block;
    cursor: pointer;
    max-height: inherit;
    max-width: inherit;
  }

  .image-viewer__expand-button {
    font-family: $icon-font;
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 8px;
    box-sizing: content-box;
    height: 1em;
    width: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    color: black;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  &:hover .image-viewer__expand-button, .image-viewer__expand-button.image-viewer__expand-button--shown {
    opacity: 1;
  }
}

.image-viewer-popup {
  display: flex;

  .popup__container {
    max-width: 100%;
    display: flex;
    width: auto;
    margin: auto;

    .image-viewer__image-wrapper {
      max-width: 100vw;
      max-height: 100vh;

      &.image-viewer__full-size {
        max-width: unset;
        max-height: unset;
      }

      .image-viewer__image {
        min-width: 300px;
        min-height: 300px;
      }
    }
  }
}

.loader {
  position: relative;

  .loader__loading-content {
    transition: opacity 0.3s;
    opacity: 1;
  }
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
  }
  &.loading {
    &:before {
      display: block;
    }
    .loader__loading-content {
      opacity: 0.6;
    }
  }
}

.countdown {
  font-family: $font-medium;
  display: flex;
  span {
    min-width: 1.5em;
    text-align: center;
  }
}

.social-media {
  padding-bottom: 8px;
  .social-media__link {
    padding: 4px;
    margin: 0 4px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    i {
      transition: color 0.3s;
      color: $text-light-grey;
    }
    &:hover i {
      &.vk {
        color: #4a76a8;
      }
      &.fb {
        color: #4267b2;
      }
      &.ig {
        color: #c13a7a;
      }
      &.ok {
        color: #ee8208;
      }
    }
    &.ig {
      font-size: 16px;
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  .error-page__error-code {
    font-size: 30vw;
    line-height: 30vw;
    @include media-breakpoint-up(md) {
      font-size: 15vw;
      line-height: 15vw;
    }
    span:nth-child(2) {
      color: $accent-orange;
    }
  }
  .error-page__error-message {
    max-width: 60%;
    width: 100%;
    text-align: center;
  }
  .btn {
    margin-top: 10vh;
  }
}

.course-form {
  .DayPickerInput {
    width: 100%;
    .DayPickerInput-Overlay {
      bottom: calc(100% + 8px);
      left: auto;
      right: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    .start-date-input-container .DayPickerInput .DayPickerInput-Overlay {
      right: auto;
      left: 0;
    }
  }
}

.lesson-form,
.webinars-form {
  .DayPickerInput {
    //width: 100%;
    .DayPickerInput-Overlay {
      bottom: calc(100% + 8px);
      right: auto;
      left: 0;
    }
  }

  .time_picker_container {
    .time_picker_modal_container {
      @include center(x);
      top: auto;
      bottom: calc(100% + 8px);
    }
  }
}

.purchase-popup .popup__container {
  max-width: 380px;
}
.purchase-form {
  .form__title,
  .form__action-container {
    text-align: center !important;
  }
  .purchase-form__note {
    text-align: center;
    padding: 0 8px 16px;
  }
}

.course-form,
.lesson-form,
.webinars-form {
  .image-input-container {
    padding-bottom: 32px;
  }
}

.login-btn {
  @include btnBehavior;
  background: $vk-blue;
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  @include overflow-hidden;
  font-family: $font-medium;
  i {
    margin-left: 12px;
    vertical-align: middle;
    font-size: 18px;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(250, 147, 70, 0.7);
  }
  to {
    box-shadow: 0 0 0 45px rgba(250, 147, 70, 0);
  }
}
