@import "variables";

$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-gutter:               30px !default;
$ph-spacer:               15px !default;


.ph-item {
  position: relative;
  @include overflow-hidden;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    animation: phAnimation .8s linear infinite;
    background: linear-gradient(to right, rgba($ph-bg, 0) 46%, rgba($ph-bg, .35) 50%, rgba($ph-bg, 0) 54%) 50% 50%;
  }
  .ph-text {
    display: inline-block;
    height: 1em;
    width: 100%;
    background-color: $border-grey;
  }
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
